.title {
    margin-top: 1em;
}

input {
    width: 100%;
    padding: 0.7em;
    border: 1px solid #f3f3f3;
    border-bottom: 1px solid #666;
}

.answer {
    padding: 0.7em;
    margin: 1em 0;
    border: 1px solid #f3f3f3;
    border-bottom: 1px solid #666;
}

.answer .scroll-vertical {
    max-height: 45vh;
    overflow-y: scroll;
}

.answer .big {
    width: 100%;
}

.answer a {
    color: #0503bd;
}

.answer a:hover {
    text-decoration: none;
}